* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}    

a{
  text-decoration: none;
  color: black;

}

body {
  display: flex;
  justify-content: center;
}
.mainContainer {
  width: 85%;
  position: relative;
}
.mainContainer nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.mainContainer a {
  text-decoration: none;
  color: black;
}
.leftDiv {
  width: 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.categoryItem {
  padding: 1rem;
}
.categoryItem.active{
  color: #5dce7b !important ;
  border-bottom: 1px solid #5dce7b;
}
.tabMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.tabMenu a {
  width: 100%;
  text-align: center;
  padding: 0.4rem 0;
  border-bottom: 1px solid lightgray;
}
.middleDiv {
  margin-right: 5rem;
}
.rightDiv {
  width: 6%;
  display: flex;
  justify-content: space-between;
}
.rightDiv a {
  font-size: 18px;
}
.rightDiv .fa-solid {
  margin-left: 6px;
}
.currency{
  position: absolute;
  /* border: solid 1px black; */
  display: none;
  flex-direction: column;
  top: 3.5rem;
  left: 94%;
  /* z-index: 1; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    letter-spacing: 0.8px;
  
}

.currency.active{
  display: flex;

}
.money{
width: 100%;
padding: 0.8rem 1.3rem;
background-color: #FFFFFF;
/* border-bottom: 1px solid black; */

}
.money:hover{
  background-color: #EEEEEE;
}
.fa-bars {
  display: none !important;
  color: black;
  font-size: 1.5rem;
}

.typeCategory {
  font-size: 42px;
  margin: 3rem 0 3rem 0;
}
.productsContainer {
  width: 100%;
  padding-bottom: 8rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.productBoxes {
  width: 100%;
  transition: ease-in 0.2s;
  margin: 1.5rem 0;
  position: relative;
}
.productBoxes img {
  width: 100%;
}
.productBoxes:hover {
  transition-duration: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 1rem;
}
.productBoxes p {
  padding-top: 8px;
}
.bold {
  font-weight: bolder;
}
.shopping {
  background-color: #5dce7b;
  display: none;
  padding: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 19.3rem;
  right: 2.4rem;
  border: 1px solid #20c92b;
}
.productBoxes:hover .shopping {
  display: block;
}
.shopping i {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* ! */
.cartOverlay-container{
  /* border: 1px solid black; */
  background-color: #FFFFFF;
  width: 23rem;
  position: absolute;
  /* top: 7%; */
  right: 3rem;;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: none;
  padding: 1rem;
}
.cartOverlay-container.active{
display: block;
}
.first_word{
  padding: 1.5rem 0;
  font-size: 1.2rem;
}
.propertiesColor{
  width: 100%;
  /* border: 1px solid black; */
  /* margin: 1rem 1rem; */
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;

}
.propertiesColor p{
  margin-top: 0.4rem;
}
.sizes{
  margin: 1rem 0;
  padding: 0.1rem 0.4rem;
  border: 1px solid black;
}
.size_pad{
  margin: 0.5rem 0;
}

.color_pad{
  margin: 0.5rem 0;
}
/* leftside */
.colorsGray{
  background-color: #D3D2D5;
}
.colorsGreen{
  background-color: #0D6450;
}
.colorsO{
  background-color: #EA8220; ;
}
.colorsB{
  background-color: black;
}
.colorsBl{
  background-color: #14A4C3;
}
.onlyColor a{
  color: rgba(255, 255, 255, 0);
  margin: 1rem 0;
  padding: 0 0.3rem;
  border: 1px solid black;
}
.leftSide{
  width: 50%;
  /* border: 1px solid black; */
}
.counter{
  width: 18%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.threeCounter{
  border: 1px solid black;
  text-align: center;
  padding: 0.3rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.threeCounter_{
  text-align: center;
}
.rightSide{
  
  position: relative;
  display: flex;
  justify-content: space-between;
}
.rightImage img{
width: 100%;
object-fit: scale-down;
}
.rightImage{
  /* position: absolute; */
  top: 3%;
  /* left: 39% */
  width: 6.5rem;

}
#ferqli{
  background-color: black;
  color: white
}
.summa{
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

}

.buttonns{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.lft-btn{
  border: 1px solid black;
  width: 10rem;
  padding: 1rem;
}
.rht-btn{
  border: 1px solid #20c92b;
  width: 10rem;
    padding: 1rem;
    background-color:#5dce7b;
}
.rht-btn a{
  color: white;

}
.overlay{
  background-color: rgba(128, 128, 128, 0.302);
  width: 100vw;
  height: 100vmax;
  display: none;
  position: absolute;
  z-index: 1;
  top: 6rem;
  left: 0;
}
.overlay.active{
  display: flex;

}
