/* 111111111111 */
/* !-------------------- */
/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .rightDiv {
      width: 9%;
    }
  }


  @media screen and (max-width: 1000px) {
    .rightDiv {
      width: 8%;
    }
    .leftDiv {
      width: 23%;
      justify-content: space-between;
    }
    .productsContainer {
      gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
    }
    .typeCategory {
      font-size: 2rem;
    }
    .middleDiv {
      margin-right: 3.5rem;
    }
    /* .shopping{
      top: 10rem;
    } */
    /* .productBoxes:hover .a{
      left: 3rem;
    } */
  }
  
  
  @media screen and (max-width: 800px) {
    .leftDiv,
    .rightDiv {
      display: none;
    }
    .leftImgSide{
      width: 100%;
      height: 20%;
      position: absolute;
      top: 61rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .leftImgSide img{
      width: 11rem;
    }
    .middleSide img{
      width: 47rem;

    }
    .price_size{
      width: 100%;
      border: 1px solid rgba(71, 66, 66, 0.203);
      position: absolute;
    top: 77rem;
    text-align: center;

    }
    .btn_green{
      display: inline-block;
    }
    .rightDiv{
      width: 9%;  
    }
    .fa-bars {
      display: block !important;
    }
   

    .tabMenu {
      display: none;
    }
    .mainContainer {
      width: 95%;
    }
    .shopping {
      display: block;
      bottom: 2rem;
      right: 1rem;
    }
    
   

    /*  */
  }
  @media screen and (max-width: 500px) {
    .productsContainer {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
    .middleSide img{
      width: 22rem;

    }
    .leftImgSide{
      top: 38rem;
    }
    .leftImgSide img{
      width: 6.5rem;
    height: 6rem;
    }
    .rightDiv{
      width: 9%;
    }
    .price_size{
      top: 47rem;;
    }
    .tabMenu {
      display: none;
    }
    .shopping {
      display: block;
    }
    .mainContainer {
      width: 90%;
    }
    .typeCategory {
      font-size: 1.2rem;
      margin: 1rem 0 0rem 0rem;
    }
    
    .productBoxes:hover {
      transition-duration: 0.2s;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 1rem;
    }
    .shopping {
      bottom: 3rem;
      right: 2rem;
      padding: 0.8rem;
    }
    .shopping i {
      font-size: 1rem;
      padding: 0.2rem;
    }
    .productBoxes {
      transition-duration: 0.2s;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 1rem;
      margin-bottom: 0;
    }
  }

  /* Responsive end */
  